{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
    <title>Personal Page</title>
</head>

<body>
    <div>
        <div class="heading">
        <h1>Victoria Little</h1>
        </div>
        <hr />

        <div>
            <a href="/personal/">Home</a> |
            <a href="/personal/hobbies">Hobbies</a> |
            <a href="/personal/books">Books</a>
        </div>

        <hr />

        <h3>Biography</h3>
        <p>
            I am a hardworking and enthusiastic leader with experience across
            multiple areas of non-profit strategy, business development, innovation,
            income generation and grant-making. Currently studying for an MBA, I am
            honing my skills as an ethical business leader with increasing
            specialisms in strategy and innovation.
        </p>

        <h3>Contact Details</h3>
        <p>
            Email:<br/>
            victorialittle09@gmail.com<br/>
            <br/>
            Telephone:<br/>
            +44 7123 222111
        </p>

        <h3>Skills</h3>
        <p>
            <ul>
                <li>Project Management</li>
                <li>Big Picture Strategy</li>
                <li>Attention to Detail</li>
                <li>Profressional</li>
                <li>Fast Learner</li>
            </ul>
        </p>

        <h3>Education</h3>
        <p>
            Master of Business Administration (MBA) at Warwick Business School.
        </p>

        <h3>Work Experience</h3>
        <p>
            <p>
                <i>2018 - Present</i> Self Employed<br/>
                Strategy and Business Development Consultant
            </p>
            <p>
                <i>2017 - 2019</i> UK Men's Sheds Association<br/>
                Director
            </p>
            <p>
                <i>2016 - 2017</i> Gloucestershire Wildlife Trust<br/>
                Business Manager and Directory of Subsidiary
            </p>
        </p>

        <h3>Projects</h3>
        <p>
            <a href="https://github.com/VictoriaairotciV/T29">
                A simple calculator project
            </a>
            <br />
            <a href="https://github.com/VictoriaairotciV/T38">
                A movie recommendataion project
            </a>
        </p>
    </div>
</body>

</html>